.DS_Store
.firebase
.eslintcache
node_modules

# Ignore generated data
public/data/
dist/


# Do not check in credentials
credentials.json
credentials-*.json

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
firebase-debug.log
ui-debug.log

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
